.blogs {
  width: 100vw;
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* display: flex;
    flex-basis: content;
    flex-wrap: wrap; */
  /* border: 1px solid red;
  background-color: blue; */
}

.blogItem {
  width: 19rem;
  margin: auto;
  padding: 0.5rem 0.5rem;
  /* border: 2px solid red; */
}
.heading3{
    cursor: pointer;
}

/* Mobile */

@media (max-width: 900px) {
  .blogs {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 800px) {
  .blogs {
    grid-template-columns: repeat(1, auto);
  }
}
